/*
	KHỞI TẠO CƠ SỞ DỮ LIỆU QLDA
	===========================
	
	SV. HUỲNH VŨ NHẬT LINH | 051205008812 | CN2304CLCB
	GITHUB : https://github.com/linhhuynhcoding/UTH-assignment/tree/master/DBMS
*/

CREATE DATABASE QLDA;
USE QLDA;
CREATE TABLE NHANVIEN (
	HONV NVARCHAR(15),
	TENLOTNV NVARCHAR(15),
	TENNV NVARCHAR(15),
	MANV NVARCHAR(9),
	NGSINH SMALLDATETIME,
	DCHI NVARCHAR(30),
	PHAI NVARCHAR(3),
	LUONG FLOAT,
	MA_NQL NVARCHAR(9),
	PHG INT,

	CONSTRAINT NHANVIEN_ID PRIMARY KEY(MANV)
);

CREATE TABLE PHONGBAN (
	TENPNG NVARCHAR(15),
	MAPNG INT,
	TRPNG NVARCHAR(9),
	NG_NHANCHUC SMALLDATETIME,

	CONSTRAINT PHONGBAN_ID PRIMARY KEY(MAPNG)
);

CREATE TABLE CONGVIEC (
	MADA INT,
	STT INT,
	TEN_CONG_VIEC NVARCHAR(50),

	CONSTRAINT CONGVIEC_ID PRIMARY KEY(MADA, STT)
);

CREATE TABLE DEAN (
	TENDEAN NVARCHAR(15),
	MADA INT,
	DDIEM_DA NVARCHAR(15),
	PHONG INT,

	CONSTRAINT DEAN_ID PRIMARY KEY(MADA)
);

CREATE TABLE PHANCONG (
	MA_NVIEN NVARCHAR(9),
	MADA INT,
	STT INT,
	THOIGIAN FLOAT,

	CONSTRAINT PHANCONG_ID PRIMARY KEY(MA_NVIEN, MADA, STT)
);

CREATE TABLE DIADIEM_PHG (
	MAPHG INT,
	DIADIEM NVARCHAR(15),

	CONSTRAINT DIADIEM_PHG_ID PRIMARY KEY(MAPHG, DIADIEM)
);

CREATE TABLE THANNHAN (
	MA_NVIEN NVARCHAR(9),
	TENTN NVARCHAR(15),
	PHAI NVARCHAR(3),
	NGSINH SMALLDATETIME,
	QUANHE NVARCHAR(15),

	CONSTRAINT THANNHAN_ID PRIMARY KEY(MA_NVIEN, TENTN)
);


INSERT INTO NHANVIEN (HONV, TENLOTNV, TENNV, MANV, NGSINH, DCHI, PHAI, LUONG, MA_NQL, PHG) VALUES (N'Đinh', N'Bá', N'Tiên', '009', '02/11/1960', N'199 Cống Quỳnh, TP HCM', N'Nam', 30000, '005', 5);
INSERT INTO NHANVIEN (HONV, TENLOTNV, TENNV, MANV, NGSINH, DCHI, PHAI, LUONG, MA_NQL, PHG) VALUES (N'Nguyễn', N'Thanh', N'Tùng', '005', '08/20/1962', N'222 Nguyễn Văn Cừ, TP HCM', N'Nam', 40000, '006', 5);
INSERT INTO NHANVIEN (HONV, TENLOTNV, TENNV, MANV, NGSINH, DCHI, PHAI, LUONG, MA_NQL, PHG) VALUES (N'Bùi', N'Ngọc', N'Hằng', '007', '03/11/1954', N'332 Nguyễn Thái Học, TP HCM', N'Nam', 25000, '001', 4);

INSERT INTO PHONGBAN (TENPNG, MAPNG, TRPNG, NG_NHANCHUC) VALUES (N'Nghiên cứu', 5, '005', '05/22/1978');
INSERT INTO PHONGBAN (TENPNG, MAPNG, TRPNG, NG_NHANCHUC) VALUES (N'Điều hành', 4, '008', '01/01/1985');
INSERT INTO PHONGBAN (TENPNG, MAPNG, TRPNG, NG_NHANCHUC) VALUES (N'Quản lý', 1, '006', '06/19/1971');

INSERT INTO THANNHAN (MA_NVIEN, TENTN, PHAI, NGSINH, QUANHE) VALUES ('005', N'Trinh', N'Nữ', '04/05/1976', N'Con gái');
INSERT INTO THANNHAN (MA_NVIEN, TENTN, PHAI, NGSINH, QUANHE) VALUES ('005', N'Khang', N'Nam', '10/25/1973', N'Con trai');
INSERT INTO THANNHAN (MA_NVIEN, TENTN, PHAI, NGSINH, QUANHE) VALUES ('005', N'Phương', N'Nữ', '05/03/1948', N'Vợ chồng');

INSERT INTO DEAN (TENDEAN, MADA, DDIEM_DA, PHONG) VALUES (N'Sản phẩm X', 1, N'Vũng Tàu', 5);
INSERT INTO DEAN (TENDEAN, MADA, DDIEM_DA, PHONG) VALUES (N'Sản phẩm Y', 2, N'Nha Trang', 5);
INSERT INTO DEAN (TENDEAN, MADA, DDIEM_DA, PHONG) VALUES (N'Sản phẩm Z', 3, N'TP HCM', 5);

INSERT INTO DIADIEM_PHG(MAPHG, DIADIEM) VALUES (1, N'TP HCM');
INSERT INTO DIADIEM_PHG(MAPHG, DIADIEM) VALUES (4, N'Hà Nội');
INSERT INTO DIADIEM_PHG(MAPHG, DIADIEM) VALUES (5, N'TAU');

INSERT INTO PHANCONG(MA_NVIEN, MADA, STT, THOIGIAN) VALUES ('009', 1, 1, 32);
INSERT INTO PHANCONG(MA_NVIEN, MADA, STT, THOIGIAN) VALUES ('009', 2, 3, 8	);
INSERT INTO PHANCONG(MA_NVIEN, MADA, STT, THOIGIAN) VALUES ('004', 3, 1, 40);

INSERT INTO CONGVIEC(MADA, STT, TEN_CONG_VIEC) VALUES (1, 1, N'Thiết kế sản phẩm X');
INSERT INTO CONGVIEC(MADA, STT, TEN_CONG_VIEC) VALUES (1, 2, N'Thử nghiệm sản phẩm X');
INSERT INTO CONGVIEC(MADA, STT, TEN_CONG_VIEC) VALUES (2, 1, N'Sản xuất sản phẩm Y');


SELECT * FROM NHANVIEN;
SELECT * FROM PHONGBAN;
SELECT * FROM THANNHAN;
SELECT * FROM DEAN;
SELECT * FROM DIADIEM_PHG;
SELECT * FROM PHANCONG;
SELECT * FROM CONGVIEC;