body {
    padding: 0px;
    margin: 0px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.container > header {
    background-image: url('../../assets/logo_uth.jpg');
    background-size: 100% 100%;
    height: 0px;
    padding-bottom: 25%;
}

.container > nav {
    line-height: 40px;
    background-color: orangered;
    color: white;
    text-align: center;
    font-variant: small-caps;
} 

.container > article {
    min-height: 400px;
    width: 75%;
    background-color: white;
    float: left
}

.container > aside {
    min-height:400px; 
    width:25%; 
    background-color:lightgray; 
    float:right; 
}

.container > footer {
    border-top:5px double orangered; 
    line-height:50px; 
    background-color:lightcyan; 
    text-align:center; 
    font-variant:small-caps; 
    clear:both; 
}

.container > nav > a {
    color:white; 
    text-decoration:none; 
    margin:0 10px; 
}

.container > nav > a:hover {
    color:yellow;
    text-decoration: underline;
}

iframe[name=page]{
    width: 100%;
    min-height: 400px;
}

.vnmenu {
    padding:0 pixel ;
    margin:5 pixel ;
    list-style:none ;
    border-radius:3 pixel ;
    box-shadow:0 0 2 pixel gray;
}

.vnmenu > li > a {

    display: block ;
    border-bottom: 1 pixel dotted orangered ;
    color: orangered ;
    font-variant: small-caps ;
    font-size: larger ;
    text-decoration: none ;
    padding: 8 pixel 5 pixel 8 pixel 30 pixel ;
}

.vnmenu > li > a:hover{
    /* background: url('../../assets/check.jpg') no-repeat 10 pixel center ; */
    border-bottom: 1 pixel dotted white ;
    background-color: orangered ;
    color: white ;
    font-weight: bold;

}

.vnmenu a {
    background: url('../../assets/bell.gif') no-repeat left top ;
}
.vnmenu a:hover {
    background: url('../../assets/check.jpg') no-repeat left top;
}