body {
    padding: 0px;
    margin: 0px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.container > header {
    background-image: url('../../assets/logo_uth.jpg');
    background-size: 100% 100%;
    height: 0px;
    padding-bottom: 25%;
}

.container > nav {
    line-height: 40px;
    background-color: orangered;
    color: white;
    text-align: center;
    font-variant: small-caps;
} 

.container > article {
    min-height: 400px;
    width: 75%;
    background-color: white;
    float: left
}

.container > aside {
    min-height:400px; 
    width:25%; 
    background-color:rgb(255, 208, 91); 
    float:right; 
}

.container > footer {
    border-top:5px double orangered; 
    line-height:50px; 
    background-color:lightcyan; 
    text-align:center; 
    font-variant:small-caps; 
    clear:both; 
}

.container > nav a {
    color:white; 
    text-decoration:none; 
    padding: 10px;
}

.container > nav a:hover {
    background-color:rgb(150, 45, 7);
    text-decoration: underline;
}

iframe[name=page]{
    width: 100%;
    min-height: 400px;
}
.menu > ul {
    list-style: none;
    font-weight: bold;
}
.menu > ul  li {
    display: inline-block;
    list-style: none;
}
.vnmenu {
    list-style:none ;
    border-radius:3px;
    box-shadow:0 0 2px gray;
}

.vnmenu a {
    background: url('../../assets/bell.gif') no-repeat left center;    
    display: block ;
    width: 100%;
    border-bottom: 1px dotted orangered ;
    color: orangered ;
    font-variant: small-caps ;
    font-size: larger ;
    text-decoration: none ;
    padding: 8px 5px 8px 30px ;
}

.vnmenu a:hover{
    background: url('../../assets/check.jpg') no-repeat left center;
    border-bottom: 1px dotted white ;
    background-color: orangered ;
    color: white ;
    font-weight: bold;
    
}

ul {
    padding-inline: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100px;
    background-color: orangered;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}